<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
<!-- Servlets -->
	<servlet>
	<servlet-name>MainServlet</servlet-name>
	<servlet-class>edu.ycp.TBH.servlet.MainServlet</servlet-class></servlet>

<!-- Servlet mappings -->
	<servlet-mapping>
	<servlet-name>MainServlet</servlet-name>
	<url-pattern>/home</url-pattern></servlet-mapping>

</web-app>