<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
<!-- Servlets --><servlet>
	<servlet-name>CreditsServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.team6.chess.servlet.CreditsServlet</servlet-class></servlet>
	<servlet>
	<servlet-name>MenuServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.team6.chess.servlet.MenuServlet</servlet-class></servlet>
	<servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.team6.chess.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.team6.chess.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.team6.chess.servlet.GameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FullMenuServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.team6.chess.servlet.FullMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GamesServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.team6.chess.servlet.GamesServlet</servlet-class>
  </servlet>

<!-- Servlet mappings --><servlet-mapping>
	<servlet-name>CreditsServlet</servlet-name>
	<url-pattern>/credits</url-pattern></servlet-mapping>
	<servlet-mapping>
	<servlet-name>MenuServlet</servlet-name>
	<url-pattern>/menu</url-pattern></servlet-mapping>
	<servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>FullMenuServlet</servlet-name>
    <url-pattern>/fullmenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GamesServlet</servlet-name>
    <url-pattern>/games</url-pattern>
  </servlet-mapping>

</web-app>